 //Tailwind를 SCSS 파일에서도 사용하기
 @use "tailwindcss/base";
 @use "tailwindcss/components";
 @use "tailwindcss/utilities";


 // 변수 선언
 $mainColor: #1E9EFF; // 메인컬러
 $DarkMain: #4CB2FF; //
 $midMain: #B4D3FF; //
 $lightMain: #D3E5FF; //
 $textGray: #b53232; //
 $mainBg: #f6f6f6;//전체 배경색

 /* 전역에서 한 번만 선언 */
 @font-face {
   font-family: 'GmarketSansMedium';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }

 /* Reset 기본 마진 및 패딩 제거 */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   @apply tracking-tight leading-tight

 }

 /* 기본 폰트 설정 */
 body {
   font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   /*background-color: #f6f6f6;*/
   color: #333;
   line-height: 1.5;
   font-size: 16px;
   font-weight: 400;
   position: relative;
 }

 body::after {
   content: "";
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   //background: rgba(0, 0, 0, 0.5);
   //background: rgba(255, 255, 255, 0.9);
   z-index: 9999;
   pointer-events: none;
 }
 header{
   //display: none!important;
 }
 footer{
   //display: none!important;
 }

 /*다크모드*/
 body.dark-mode {
   background-color: #1e1e1e;
   color: #fff;
 }
 /* App.css 또는 전역 스타일 */
 .dropdown-item {
   color: #212529 !important;
 }
 .dropdown-item:hover {
   color: #2a6fdb !important; /* Tailwind mainColor와 일치 시키면 됨 */
 }

 //헤더 네비 마우스오버시
 .nav-link:hover {
   color: var(--mainColor);
 }
 section{
   @apply w-full py-16 flex justify-center
 }
 section > div{
   @apply max-w-screen-xl px-4 overflow-hidden w-full
 }
 main > div:not(.main) {
   @apply max-w-screen-xl p-4 mx-auto
 }

 //그라디언트 보더
 .conic-border-box {
   border: 6px solid transparent;

   border-image: conic-gradient(
     from -90deg at center,
     #d3d3d3 2%,
     #ffffff 18%,
     #f6f6f6 24%,
     #D5D4D2 37%,
     #FFFFFF 48%,
     #FFFFFF 55%,
     #D5D4D2 67%,
     #FFFFFF 76%,
     #ffffff 80%,
     #d3d3d3 100%
   ) 1;

 }
 .conic-border-box2 {
   border: 6px solid transparent;

   border-image: conic-gradient(
     from -90deg at center,
     #F3DFAC 2%,
     #ffffff 18%,
     #F3DFAC 24%,
     #D5D4D2 37%,
     #FFFFFF 48%,
     #FFFFFF 55%,
     #F3DFAC 67%,
     #FFFFFF 76%,
     #ffffff 80%,
     #F3DFAC 100%
   ) 1;

 }

 //텍스트 보더
 @layer utilities {
   .text-stroke {
     -webkit-text-stroke: 0.1px $textGray;
   }

   .text-stroke-white {
     -webkit-text-stroke: 1px white;
   }

   .text-stroke-2 {
     -webkit-text-stroke: 2px black;
   }
 }

 /* 코드태그 블록 스타일 */
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
 }

 /* 기본 링크 스타일 */
 a {
   text-decoration: none;
   color: inherit;
   display: block;
   width: 100%;
 }
 a:hover {
 }

 /* 버튼 기본 스타일 */
 button {
   cursor: pointer;
   outline: none;
   border: 1px solid transparent;
   transition: 0.5s;
 }

 .custom-swiper .swiper-pagination {
   bottom: 10px !important; /* 페이지네이션을 하단으로 배치 */
   left: 50% !important; /* 가운데 정렬 */
   transform: translateX(-50%);
   display: flex;
   flex-direction: row; /* 가로 정렬 */
   align-items: center;
   justify-content: center;
   width: auto;
 }
 .custom-swiper .swiper-pagination-bullet{
   background: #676767;
 }
 .custom-swiper .swiper-pagination-bullet-active{
   background: #575757;
 }

 /* 반응형 그리드 */
 @media (max-width: 480px) {

   .text-xs { font-size: 0.75rem; } /* 기존: 0.75rem (유지) */
   .text-sm { font-size: 0.85rem; } /* 기존: 0.875rem */
   .text-base { font-size: 0.95rem; } /* 기존: 1rem */
   .text-lg { font-size: 1.05rem; } /* 기존: 1.125rem */
   .text-xl { font-size: 1.15rem; } /* 기존: 1.25rem */
   .text-2xl { font-size: 1.3rem; } /* 기존: 1.5rem */
   .text-3xl { font-size: 1.6rem; } /* 기존: 1.875rem */
   .text-4xl { font-size: 1.8rem; } /* 기존: 2.25rem */
   .text-5xl { font-size: 2rem; } /* 기존: 3rem */
 }


 /* 원하는 클래스에서 사용 */
 .sectionTitle {
   font-family: 'GmarketSansMedium', "Noto Sans KR" !important;

 }


 @mixin btn($color){
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 12px 20px;
   border-radius: 6px;
   background-color: $color;
   color: white;
   font-weight: 500;

   &:hover {
     background-color: lighten($color, 10%);
   }
 }

 @mixin btnBorder($color){
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 12px 20px;
   border-radius: 6px;
   border: 1px solid $color;
   color: $color;
   font-weight: 500;
 }

  .contentsBox{
    @apply w-full rounded-xl p-8 mb-3 shadow-shadowBase
  }
  .dotBorder{
    @apply w-full h-20 flex items-center justify-center border border-dashed rounded-xl cursor-pointer
  }

  .btn-mainColor {
    @include btn($mainColor);
  }
 .btnBorder-mainColor {
    @include btnBorder($mainColor);
  }

  .CTAComponent{
    @apply  p-5 text-white rounded-2xl h-32 flex justify-between items-start hover:opacity-75;
  }


 // 스크롤바 숨기기
 .scrollbar-hide::-webkit-scrollbar {
   display: none;
 }
 .scrollbar-hide {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
 }

 textarea, textarea:focus{
   outline: none !important;
   border: 1px solid transparent !important;
 }

 .SignUp button:focus {
    //@apply shadow-lightPurple
  }


 input, select{
   @apply h-12 rounded-[0.4rem]  px-2 py-1
 }
 input{
   outline: none !important;
   border: 1px solid $textGray;
   background: white;
 }

 input:focus, select:focus {
   border: 1px solid $mainColor !important;
 }
 input:focus{
   border: 1px solid $mainColor !important;
 }

 input::placeholder,
 textarea::placeholder{
   @apply text-sm font-normal text-gray-300
 }

 /* 셀렉, 옵션 스타일 */
 select {
   appearance: none !important;
   -webkit-appearance: none !important;
   -moz-appearance: none !important;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23c4c4c4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>") !important;
   background-repeat: no-repeat !important;
   background-position: right 8px center !important;
   background-size: 16px !important;
   padding-right: 1.5rem !important;
   background-color: white !important;
   outline: none !important;
   border: 1px solid $textGray !important;
   cursor: pointer;
 }

 select > option {
   background: white !important;
   font-weight: 300 !important;
   color: $textGray !important;
 }

select:focus-visible{
  outline: 1px solid transparent;
}

.search-input::placeholder {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

 .swiper-pagination {
   @apply flex gap-3 justify-center items-center pt-4; /* 간격 조정 */
 }

 .swiper-pagination-bullet {
   @apply bg-gray-500 w-2 h-2 rounded-full; /* 기본 동그라미 */
 }

 .swiper-pagination-bullet-active {
   @apply bg-mainColor; /* 현재 활성화된 동그라미 */
 }

 .swiper {
   position: relative;
 }

 .swiper-button-prev,
 .swiper-button-next {
  @apply text-[#636363] max-w-screen-md
 }
 .swiper-button-next::after,
 .swiper-button-prev::after {
   font-size: 24px;
 }



 //위아래 둥실둥실 애니메이션
 @keyframes float {
   0% { transform: translate(-50%, 0); }
   50% { transform: translate(-50%, -5px); }
   100% { transform: translate(-50%, 0); }
 }

 .floating {
   animation: float 2s ease-in-out infinite;
 }

 .bar {
   display: inline-block;
   width: 1px;
   height: 8px;
   margin: 5px 6px 0;
   background-color: #ccc;
   font-size: 0;
   vertical-align: top;
 }

 //이미지 플립
 /* NewDetail.css */

 .flip {
   position: relative;
   perspective: 1100px;
 }

 .card {
   width: 100%;
   height: 100%;
   transition: 0.4s;
   transform-style: preserve-3d;
   position: relative;
   border:none;
 }

 .front,
 .back {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 0.5rem;
   overflow: hidden;
   border: 1px solid #efefef;
 }

 .back {
   transform: rotateY(180deg);
 }

 .flip:hover .card {
   transform: rotateY(180deg);
 }


